                body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-image: url(imagen.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100vh;
                    background-attachment: fixed;
                }
                
                h1 {
                    font-size: 50px;
                    margin: 40px;
                    text-align: center;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                
                .contenido {
                    background-color: rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(20px);
                    width: 50%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin: 5%;
                    border: solid 1px rgba(255, 255, 255, 0.2);
                    border-radius: 10px;
                }
                
                form {
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    width: 65%;
                }
                
                div {
                    display: flex;
                    justify-content: space-between;
                    margin: 12px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
                
                .submit {
                    display: flex;
                    justify-content: center;
                    margin: 40px auto;
                    width: 100%;
                }
                
                .submit input {
                    padding: 10px;
                    background-color: rgba(235, 12, 12, 0.9);
                    font-size: 30px;
                    font-family: "Helvetica Neue";
                    width: 40%;
                    border-style: inherit;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }
                
                .submit input:hover {
                    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3)
                }
                
                table {
                    width: 500px;
                }
                
                a {
                    padding: 49px;
                    text-decoration: none;
                    font-size: 25px;
                }
                
                a:hover {
                    text-decoration: underline;
                }
                
                th {
                    text-align: start;
                    padding: 10px;
                    font-size: 25px;
                }
                
                td {
                    text-align: end;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-style: italic;
                }